<div class="top-slider">
	<div class="top-slider-item slide-1">
		<div class="top-slider-caption">
			<div class="top-slider-title">Creadit4U - Perfect Choice</div>
			<div class="top-slider-text">
				代刷幫手幫您尋優惠，找代刷
			</div>
			<a href="/" class="btn btn-default">Try It Now</a>
		</div>
	</div>
	<div class="top-slider-item slide-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="top-slider-caption">
						<div class="top-slider-title">Let's Travel</div>
						<div class="top-slider-text">
							啟程，到別人的生命裡尋找答案
						</div>
						<a href="/" class="btn btn-default">立即行動</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-slider-item slide-3">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="top-slider-caption">
						<div class="top-slider-title">食指大動</div>
						<div class="top-slider-text">
							享受美食，何須牽掛其他事?						
						</div>
						<a href="#" class="btn btn-default">享食優惠</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 features-item">
				<div class="features-icon">
					<div class="features-icon-overlay"></div>
					<i class="ion-ionic"></i>
				</div>
				<div class="features-title">優惠隨時搜</div>
				<div class="features-text">
					掌握各家信用卡優惠，隨時預約信用卡代刷人
				</div>
			</div>
			<div class="col-sm-4 features-item">
				<div class="features-icon">
					<div class="features-icon-overlay"></div>
					<i class="ion-android-contacts"></i>
				</div>
				<div class="features-title">你消費，他出卡</div>
				<div class="features-text">
					透過第三方現金支付管道，發揮共享經濟精神
				</div>
			</div>
			<div class="col-sm-4 features-item">
				<div class="features-icon">
					<div class="features-icon-overlay"></div>
					<i class="ion-card"></i>
				</div>
				<div class="features-title">省去辦卡煩惱</div>
				<div class="features-text">
					沒有卡片，照樣享有指定精選優惠
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio-section">
	<div class="container">
		<div class="section-title">Our Services<a href="#">See All</a></div>
		<div class="row" id="container">
			<div class="col-sm-6">
				<div class="portfolio-item">
					<a class="popup-link ion-android-expand" href="#" title="Check It"></a>
					<a href=<%= "#{category_path(Category.find(1))}"%> >
						<span class="portfolio-item-inner">
							<%= image_tag('住宿(1408.939).jpg')%>
							<span class="portfolio-item-overlay">
								<span class="portfolio-ov-description">
									<span class="portfolio-ov-title">精選住宿</span>
									<span class="portfolio-ov-category">國泰世華 / 最高享受65折優惠</span>
								</span>
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="portfolio-item">
					<a class="popup-link ion-android-expand" href="#" title="Check It"></a>
					<a href=<%= "#{category_path(Category.find(4))}"%> >
						<span class="portfolio-item-inner">
							<%= image_tag '休閒(1408.939).jpg'%>
							<span class="portfolio-item-overlay">
								<span class="portfolio-ov-description">
									<span class="portfolio-ov-title">精選休閒</span>
									<span class="portfolio-ov-category">花旗銀行 / 華納威秀電影票買一送一</span>
								</span>
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="portfolio-item">
					<a class="popup-link ion-android-expand" href="#" title="Check It"></a>
					<a href=<%= "#{category_path(Category.find(2))}"%> >
						<span class="portfolio-item-inner">
							<%= image_tag '購物(1408.939).jpg'%>
							<span class="portfolio-item-overlay">
								<span class="portfolio-ov-description">
									<span class="portfolio-ov-title">購物優惠享更多</span>
									<span class="portfolio-ov-category">中國信託 / 指定百貨買3000送300</span>
								</span>
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="portfolio-item">
					<a class="popup-link ion-android-expand" href="#" title="Loft Studio"></a>
					<a href=<%= "#{category_path(Category.find(3))}"%> >
						<span class="portfolio-item-inner">
							<%= image_tag '餐廳(1408.939).jpg'%>
							<span class="portfolio-item-overlay">
								<span class="portfolio-ov-description">
									<span class="portfolio-ov-title">美食饗宴</span>
									<span class="portfolio-ov-category">台北富邦 / 豐Food百匯85折</span>
								</span>
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="centered">
		<a id="load-btn" class="btn btn-default" onclick="lazyload.load()">Load More</a>
	</div>
</div>

<div class="our-clients-section">
	<div class="container">
		<div class="section-title">Users that have chosen us<span class="section-subtitle">我們提供</span></div>
		<br>
		<div class="clients-carousel">
			<a href="#"><%= image_tag 'c_1.png'%></a>
			<a href="#"><%= image_tag 'c_2.png'%></a>
			<a href="#"><%= image_tag 'c_3.png'%></a>
			<a href="#"><%= image_tag 'c_4.png'%></a>
			<a href="#"><%= image_tag 'c_5.png'%></a>
			<a href="#"><%= image_tag 'c_6.png'%></a>
		</div>
	</div>
</div>
<hr>
<div class="testimonials-section">
	<div class="container">
		<div class="section-title-left">Testimonials<span class="section-subtitle">聽聽我們的使用者怎麼說</span></div>
		<div class="testimonials-carousel">
		    <div class="testimonials-item">
		    	<img class="testimonials-img" <%= image_tag 'boy1.png'%>
		    	<div class="testimonials-description">	
		    		<div class="testimonials-quote">
		    			在幾年前想幫人代刷是因為一開始的興趣，當時在玩某家銀行的信用卡優惠累積里程數。但後來因為優惠有更改，所以停止了。不過也有持續在一些平台上尋找需要代刷服務的人。能夠看到這樣的服務還滿開心的，有一個平台能讓平常不接觸PTT的朋友，也能在有需要的時候找到服務，真是太棒了！
		    		</div>
		    		<div class="testimonials-name">嘉宏 <span class="testimonials-position">金融業</span></div>
		    	</div>
		    </div>
		    <div class="testimonials-item">
		    	<img class="testimonials-img" <%= image_tag 'girl1.png'%>
		    	<div class="testimonials-description">
		    		<div class="testimonials-quote">
		    			本身是大學生，非常喜歡去電影院看電影，一張電影票都要三百多塊。因緣際會下遇到Credi4U團隊，
							透過代刷幫手，幫我尋找到幫我代刷的人，讓我看電影便宜非常多，節省我生活中的開銷很大，感謝代刷幫手，替我找到適合的信用卡優惠！
		    		</div>
		    		<div class="testimonials-name">Melissa<span class="testimonials-position">金融業</span></div>
		    	</div>
		    </div>
		    <div class="testimonials-item">
		    	<img class="testimonials-img" <%= image_tag 'boy2.png'%>
		    	<div class="testimonials-description">
		    		<div class="testimonials-quote">
		    			以前很喜歡當朋友代刷，或是在網路上幫人代買，這是我自己的一種興趣，能為別人幫忙，讓我很有成就感！可是，在幫忙代刷代買的過程，漸漸瞭解到，使用一般平台尋找需要代刷的人，除了難以被發掘，在使用那些平台來與人溝通真的比較不方便，透過代刷幫手，提供一個讓我非常容易使用的環境，
							也讓我非常容易找到想要使用我優惠的人，也真的遇到一位實際與我交易的消費者，感謝代刷幫手。
		    		</div>
		    		<div class="testimonials-name">Jeff<span class="testimonials-position">高中老師</span></div>
		    	</div>
		    </div>
		    <div class="testimonials-item">
		    	<img class="testimonials-img" <%= image_tag 'girl2.png'%>
		    	<div class="testimonials-description">
		    		<div class="testimonials-quote">
		    			以前很喜歡當朋友代刷，或是在網路上幫人代買，這是我自己的一種興趣，能為別人幫忙，讓我很有成就感！可是，在幫忙代刷代買的過程，漸漸瞭解到，使用一般平台尋找需要代刷的人，除了難以被發掘，在使用那些平台來與人溝通真的比較不方便，透過代刷幫手，提供一個讓我非常容易使用的環境，
							也讓我非常容易找到想要使用我優惠的人，也真的遇到一位實際與我交易的消費者，感謝代刷幫手。
		    		</div>
		    		<div class="testimonials-name">Jennifer<span class="testimonials-position">業務員</span></div>
		    	</div>
		    </div>
		</div>
	</div>
</div>
<div class="about-blog-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about-section">
					<div class="section-title-left">About Us<a href="about-us.html">Learn More</a></div>
					<div class="about-text">
						Creadit4U是一間年輕正發薪芽的團隊，成立於2016年夏天的台北。我們熱愛且相信自己所做的工作，堅信想要幫助大家共享信用卡優惠，也期望能將這樣的熱情分享給我們的身邊的每一個人。...
					</div>
					<div class="progress-wrap">
						<div class="progress-item">
							<div class="progress-circle" id="circle1">
								<div class="circle-value"></div>
							</div>
							<div class="circle-title">效率</div>
						</div>
						<div class="progress-item">
							<div class="progress-circle" id="circle2">
								<div class="circle-value"></div>
							</div>
							<div class="circle-title">熱情</div>
						</div>
						<div class="progress-item">
							<div class="progress-circle" id="circle3">
								<div class="circle-value"></div>
							</div>
							<div class="circle-title">開發度</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="#">
					<%= image_tag 'logo2.png'%>
				</a>
				<ul class="footer-contacts">
					<li><i class="ion-android-pin"></i>Adress: 5F., No.97, Sec. 2, Nanjing E. Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.) 台北市南京東路2段97號5樓</li>
					<li><i class="ion-android-phone-portrait"></i> Phone: (02) 2541-9799</li>
					<li><i class="ion-android-mail"></i>E-mail: Creadit4u@gmail.com</li>
					<li><i class="ion-android-time"></i>Open: from 8 am to 6 pm</li>
				</ul>
				<ul class="footer-social">
					<li><a href="#"><i class="ion-social-vimeo"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram"></i></a></li>
					<li><a href="#"><i class="ion-social-github"></i></a></li>
					<li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<div class="footer-title">Recent Facebook News</div>
				<ul class="footer-twitter">
					<li class="footer-tweet ion-social-facebook">
						<a href="#">@Creadit4U</a>
							2016年百貨週年慶開跑啦！精選信用卡優惠年度採買
						<a href="#" class="tweet-link">https://www.facebook.com/Credit4UPro/?ref=ts&fref=ts</a>
						<div class="tweet-time">3 days ago</div>
					</li>
					<li class="footer-tweet ion-social-facebook">
						<a href="#">@Creadit4U</a>
							為您找尋信用卡最佳幫手，代刷優惠免辦卡立即享
						<a href="#" class="tweet-link">https://www.facebook.com/Credit4UPro/?ref=ts&fref=ts</a>
						<div class="tweet-time">7 days ago</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<div class="footer-flickr">
					<div class="footer-title">Ours Party Photos</div>
					<div id="flickr_badge_wrapper"><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=s&layout=x&source=user&user=52617155@N08"></script></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div>
						Copyright © 2016 <a href="#">Creadit4U</a>. Created by <a href="http://themeforest.net/user/gryndii">Website Development</a>
					</div>
				</div>
				<div class="col-sm-6">
					<ul class="footer-menu">
						<li><a href=<%= "#{root_path}"%>>Home</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>