<br>
<h1 align="center">我的訂單紀錄</h1>
<br>
<table class='table'>
  <thead>
    <tr>
      <th>編號</th>
      <th>訂購人</th>
      <th>信箱</th>
      <th>電話</th>
      <th>金額</th>
      <th>付款狀態</th>
      <th>代刷狀態</th>
      <th>訂單詳情</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.email %></td>
        <td><%= order.mobile %></td>
        <td><%= number_to_currency order.amount %></td>
        <td><%= order.paid? %></td>
        <td>已有代刷人接單，處理中</td>
        <td><%= link_to '檢視', order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>