<%= simple_form_for([:admin, @product]) do |f| %>
  <div class="form-group">
    <%= f.input :name , label: '產品名稱'%>
  </div>

  <div class="form-group">
    <%= f.input :description , label: '產品敘述'%>
  </div>

  <div class="form-group">
    <%= f.input :price , label: '產品價格'%>
  </div>

  <div class="form-group">
    <%= f.input :content , label: '產品說明'%>
  </div>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.input :active %>
    <%= f.check_box :active %>
 </div>

  <div class="form-actions">
    <%= f.button :submit ,class: 'btn btn-primary' %>
  </div>
<% end %>
<hr>
<br>