  <div class="breadcrumbs-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="breadcrumbs-sec-title">
						Services	
					</div>
				</div>
				<div class="col-sm-6">
					<div class="breadcrumbs-sec-crumbs">
						<a href="#">Home</a>
						<span><%= @category.name %></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-section portfolio-page">
		<div class="section-title"><%= @category.name %><a href="#">See All</a></div>
		<ul class="portfolio-filter">
			<li data-filter="all">All</li>
			<li data-filter="web design">Travel</li>
			<li data-filter="branding">Shopping</li>
			<li data-filter="interior">Restaurant</li>
			<li data-filter="app development">Leisure</li>
		</ul>
		<div class="container">
			<div class="row" id="container">
				<div class="col-sm-6 col-md-4 portfolio-item-wrap" data-filter="web design">
					<div class="portfolio-item">
						<a class="popup-link ion-android-expand" href="#" title="Check It"></a>
						<a href=<%= "#{category_product_path(Category.find(1),Product.find(2))}"%> >
							<span class="portfolio-item-inner">
								<%= image_tag ('長榮桂冠.png')%>
								<span class="portfolio-item-overlay">
									<span class="portfolio-ov-description">
										<span class="portfolio-ov-title">長榮桂冠酒店</span>
										<span class="portfolio-ov-category">國泰世華 / 最高享45% off</span>
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 portfolio-item-wrap" data-filter="branding">
					<div class="portfolio-item">
						<a class="popup-link ion-android-expand" href="http://placehold.it/1408x939" title="Laconic"></a>
						<a href=<%= "#{category_product_path(Category.find(1),Product.find(6))}"%> >
							<span class="portfolio-item-inner">
								<%= image_tag ('墾丁假期大飯店.png')%>
								<span class="portfolio-item-overlay">
									<span class="portfolio-ov-description">
										<span class="portfolio-ov-title">墾丁假期渡假飯店</span>
										<span class="portfolio-ov-category">玉山銀行 / 最高享50％ off </span>
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 portfolio-item-wrap" data-filter="interior">
					<div class="portfolio-item">
						<a class="popup-link ion-android-expand" href="http://placehold.it/1408x939" title="Loft Studio"></a>
						<a href=<%= "#{category_product_path(Category.find(1),Product.find(7))}"%> >
							<span class="portfolio-item-inner">
								<%= image_tag ('寒軒.png')%>
								<span class="portfolio-item-overlay">
									<span class="portfolio-ov-description">
										<span class="portfolio-ov-title">寒軒國際大飯店</span>
										<span class="portfolio-ov-category">兆豐銀行 / 最高享30％ off</span>
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 portfolio-item-wrap" data-filter="app development">
					<div class="portfolio-item">
						<a class="popup-link ion-android-expand" href="http://placehold.it/1408x939" title="Loft Studio"></a>
						<a href=<%= "#{category_product_path(Category.find(1),Product.find(8))}"%> >
							<span class="portfolio-item-inner">
								<%= image_tag ('北投春天.png')%>
								<span class="portfolio-item-overlay">
									<span class="portfolio-ov-description">
										<span class="portfolio-ov-title">北投春天酒店</span>
										<span class="portfolio-ov-category">玉山銀行 / 最高享60％ off </span>
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 portfolio-item-wrap" data-filter="branding">
					<div class="portfolio-item">
						<a class="popup-link ion-android-expand" href="http://placehold.it/1408x939" title="Loft Studio"></a>
						<a href=<%= "#{category_product_path(Category.find(1),Product.find(9))}"%> >
							<span class="portfolio-item-inner">
								<%= image_tag ('福容.png')%>
								<span class="portfolio-item-overlay">
									<span class="portfolio-ov-description">
										<span class="portfolio-ov-title">福容大飯店</span>
										<span class="portfolio-ov-category">澳盛銀行 / 最高享30％ off </span>
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 portfolio-item-wrap" data-filter="interior">
					<div class="portfolio-item">
						<a class="popup-link ion-android-expand" href="http://placehold.it/1408x939" title="Loft Studio"></a>
						<a href=<%= "#{category_product_path(Category.find(1),Product.find(10))}"%> >
							<span class="portfolio-item-inner">
								<%= image_tag ('艾美寒舍.png')%>
								<span class="portfolio-item-overlay">
									<span class="portfolio-ov-description">
										<span class="portfolio-ov-title">艾美寒舍</span>
										<span class="portfolio-ov-category">design / interior</span>
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="index.html">
					<img class="footer-logo" src="images/logo-gray.png" alt="">
				</a>
				<ul class="footer-contacts">
					<li><i class="ion-android-pin"></i>Adress: 5F., No.97, Sec. 2, Nanjing E. Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.) 台北市南京東路2段97號5樓</li>
					<li><i class="ion-android-phone-portrait"></i> Phone: (02) 2541-9799</li>
					<li><i class="ion-android-mail"></i>E-mail: Creadit4u@gmail.com</li>
					<li><i class="ion-android-time"></i>Open: from 8 am to 6 pm</li>
				</ul>
				<ul class="footer-social">
					<li><a href="#"><i class="ion-social-vimeo"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram"></i></a></li>
					<li><a href="#"><i class="ion-social-github"></i></a></li>
					<li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<div class="footer-title">Recent Facebook News</div>
				<ul class="footer-twitter">
					<li class="footer-tweet ion-social-facebook">
						<a href="#">@Creadit4U</a>
							2016年百貨週年慶開跑啦！精選信用卡優惠年度採買
						<a href="#" class="tweet-link">https://www.facebook.com/Credit4UPro/?ref=ts&fref=ts</a>
						<div class="tweet-time">3 days ago</div>
					</li>
					<li class="footer-tweet ion-social-facebook">
						<a href="#">@Creadit4U</a>
							為您找尋信用卡最佳幫手，代刷優惠免辦卡立即享
						<a href="#" class="tweet-link">https://www.facebook.com/Credit4UPro/?ref=ts&fref=ts</a>
						<div class="tweet-time">7 days ago</div>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<div class="footer-flickr">
					<div class="footer-title">Ours Halloween Photos</div>
					<div id="flickr_badge_wrapper"><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=s&layout=x&source=user&user=52617155@N08"></script></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div>
						Copyright © 2016 <a href="#">Creadit4U</a>. Created by <a href="http://themeforest.net/user/gryndii">Website Development</a>
					</div>
				</div>
				<div class="col-sm-6">
					<ul class="footer-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about-us.html">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>