<header>
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <ul class="contacts-top">
              <li><i class="ion-ios-telephone-outline"></i>
                (02) 2541-9799
              </li>
              <li><i class="ion-ios-email-outline"></i>
                Creadit4u@mail.com
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
            <ul class="social-top">
              <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
              <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
              <li><a href="#"><i class="ion-social-github-outline"></i></a></li>
              <li><a href="https://www.facebook.com/Credit4UPro/?fref=ts"><i class="ion-social-facebook-outline"></i></a></li>
              <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
              <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="row pos-rel">
          <div class="search-form-wrap">
            <a class="search-close ion-android-close"></a>
            <form>
              <input type="text" placeholder="Type And Press Enter">
            </form>
          </div>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%=image_tag "logo2.png"%></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="mobile-search">
              <form>
                <input type="text" placeholder="Search">
              </form>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Home <span class="ion-ios-arrow-down"></span></a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="ion-ios-arrow-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="text-center"><a href="/">About Us</a></li>
                <li class="text-center"><a href="/">Services</a></li>
                <li class="text-center"><a href="/">Contact</a></li>
              </ul>
            </li>
            <% if current_user %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi, <%= current_user.first_name %>  <span class="glyphicon glyphicon-user"></span>
              <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li class="text-center"><%= link_to('帳號設定', edit_user_registration_path )%></li>
              <li class="text-center"><%= link_to('個人資料', profile_path) %></li>
              <li class="text-center"><%= link_to('登出', destroy_user_session_path, :method => :delete ) %></li>
            </ul>      
            <li role="presentation"><%= link_to '預約單',cart_path%></li>
            <li role="presentation"><%= link_to '訂單紀錄', orders_path %></li>  
            <% else %>
              <li role="presentation"><%= link_to '預約單',cart_path%></li>
              <li role="presentation"><%= link_to '訂單紀錄', orders_path %></li>
              <li role="presentation"><%= link_to('註冊', new_registration_path(:user)) %></li>
              <li role="presentation"><%= link_to('登入', new_session_path(:user)) %></li>
            <% end %>
            <li><a class="ion-ios-search-strong search-open"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>