<div class="breadcrumbs-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="breadcrumbs-sec-title">
          Services  
        </div>
      </div>
      <div class="col-sm-6">
        <div class="breadcrumbs-sec-crumbs">
          <a href=<%= "#{root_path}"%>>Home</a>
          <span><%= @category.name %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= image_tag 'room.png', class: 'pull-left img-responsive' %>
  </div>
  <div class="col-sm-6">
    <p><%= link_to @product.category.name, category_path(@product.category)%></p>
    <h1><%= @product.name %></h1>
    <br>
    <div class='product-description'><%= @product.description %></div>
    <br>
    <div class="product-content"><%= simple_format(@product.content) %></div>
    <br>
    <div class="Website"><a href="http://www.evergreen-hotels.com/">長榮桂冠酒店官方網站</a></div>
    <br>
    <div class="Specifies-the-card">優惠信用卡：國泰世華</div>
    <br>
    <div class="Original-price">原價：$14157.00</div>
    <br>
    <div class='product-price'>指定信用卡優惠價格：<%= number_to_currency @product.price %></div>
    <br>
    <div class="save-price">一共為您節省下了$7722</div>
    <br>
    <div>
      <%= link_to '立刻加入預約單享優惠', add_category_product_path(@product.category, @product), method: :post, class: 'btn btn-primary' %>
    </div>
    <br>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <%= render 'shared/comments/form', url: category_product_comments_path(@product.category, @product) if user_signed_in? %>
  </div>
  <div class="col-sm-6">
    <%= render 'shared/comments/list', comments: @product.comments %>
  </div>
</div>
<br><br>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="index.html">
          <%= image_tag 'logo2.png'%>
        </a>
        <ul class="footer-contacts">
          <li><i class="ion-android-pin"></i>Adress: 5F., No.97, Sec. 2, Nanjing E. Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.) 台北市南京東路2段97號5樓</li>
          <li><i class="ion-android-phone-portrait"></i> Phone: (02) 2541-9799</li>
          <li><i class="ion-android-mail"></i>E-mail: Creadit4u@gmail.com</li>
          <li><i class="ion-android-time"></i>Open: from 8 am to 6 pm</li>
        </ul>
        <ul class="footer-social">
          <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-github"></i></a></li>
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="footer-title">Recent Facebook News</div>
        <ul class="footer-twitter">
          <li class="footer-tweet ion-social-facebook">
            <a href="#">@Creadit4U</a>
              2016年百貨週年慶開跑啦！精選信用卡優惠年度採買
            <a href="#" class="tweet-link">https://www.facebook.com/Credit4UPro/?ref=ts&fref=ts</a>
            <div class="tweet-time">3 days ago</div>
          </li>
          <li class="footer-tweet ion-social-facebook">
            <a href="#">@Creadit4U</a>
              為您找尋信用卡最佳幫手，代刷優惠免辦卡立即享
            <a href="#" class="tweet-link">https://www.facebook.com/Credit4UPro/?ref=ts&fref=ts</a>
            <div class="tweet-time">7 days ago</div>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="footer-flickr">
          <div class="footer-title">Ours Halloween Photos</div>
          <div id="flickr_badge_wrapper"><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&display=latest&size=s&layout=x&source=user&user=52617155@N08"></script></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div>
            Copyright © 2016 <a href="#">Creadit4U</a>. Created by <a href="http://themeforest.net/user/gryndii">Website Development</a>
          </div>
        </div>
        <div class="col-sm-6">
          <ul class="footer-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>